* {
	margin :0;
	padding :0;
	box-sizing : border-box;
	list-style : none;
	text-decoration : none;
	text-align: center;

}

body {
	background: #c6f1d6;
}


.bodyContainer {
	background: black;
	height : 50%;
	width: 80%;
	color: green;
	margin: auto;  /* auto center */
	font-size: 30px;
}



h1 {
	text-align: center;
	padding: 1em 1em;
}

header, footer {
	width: 100%;
	height: 150px;
	background: #fae3d9;
	
}


main {
	width: 100%;
	height: 400px;
	background: #cba1d2;
	
}


nav {
	width: 20%;
	height: 100%;
	background: black;
	float: left;
}

section {
	width: 55%;
	height: 100%;
	background: #ffba92;
	float: left;
}


aside {
	width: 25%;
	height: 100%;
	background: black;
	float: left;
}

